

.input-field{
    width: 400px;
}

.body{
    background-color: rgb(211, 218, 225);
}

.form{
    margin: 40px;
    padding: 30px;
}

.div{
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
}
.divv{
    height: 500px;
}

.submit{
        margin: 65px;
        padding: 10px;
        background-color: #4CAF50;
        color: white;
        border: none;
        border-radius: 5px;
        font-size: 16px;
        cursor: pointer;
        }

 .submit:hover {
        background-color: #04f910;
    }
