


.submit{
        margin: 30px;
        width: 100px;
        padding: 10px;
        background-color: #4CAF50;
        color: white;
        border: none;
        border-radius: 5px;
        font-size: 20px;
        cursor: pointer;
        box-shadow: 5px 5px 10px black ;
        }

 .submit:hover {
        background-color: #04f910;  
    }

    section label{
            display: block;
            margin-bottom: 5px;
    }

    section input{
        margin-bottom: 15px;
        width: 300px;
    }


    select {
        width: 300px;
    }
  


    section form{
        background-color: rgb(255, 255, 255);
        margin: 7px;
        border-radius: 7px;
        padding: 20px;
        
    }

    .body{
        background-color: rgb(226, 226, 229);
    }

    fieldset{
        margin: 20px;
        padding: 30px;
        border-radius: 5px;
        border: 1px solid #ddd;
        /* border: 30px;    */
        
    }
