


.submit{
        margin: 30px;
        width: 100px;
        padding: 10px;
        background-color: #4CAF50;
        color: white;
        border: none;
        border-radius: 5px;
        font-size: 20px;
        cursor: pointer;
        box-shadow: 5px 5px 10px black ;
        }

 .submit:hover {
        background-color: #04f910;  
    }

    section label{
            display: block;
            margin-bottom: 5px;
    }

    section input{
        margin-bottom: 15px;
        width: 300px;
    }

    section {

        background-color: rgb(255, 255, 255);
        border-radius: 5px;

    select {
        width: 300px;
    }
    
        
        
    }

    section form{
        margin: 20px;
        padding: 20px;
        
    }
