

.input-field{
    width: 400px;
}

.body{
    background-color: rgb(211, 218, 225);
}

.form{
    margin: 40px;
    padding: 10px;
}

.div{
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
}
.divv{
    height: 500px;
}

.submit{
    width: 100px;
    margin: 45px;
}
